<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: @recipe %>

  <div class="main-recipe">

      <%= f.text_field :title, class: 'form-control', placeholder: 'title of recipe' %></br>
      <%= f.text_field :description, class: 'form-control', placeholder: 'description of your recipe' %></br>
      <%= f.file_field :image %></br>
  </div></br>



    <%= f.submit 'Add Recipe' %>
<% end %>
